* {
    margin: 0;
}
.logo {
    width: 180px;
}
.game {
    background-color: #444444;
}

.cov {
    background-color: #EEEEEE;
}
.team {
    background-color: #444444;
}
.hero {
    background: center/cover;
}
.covid {
    height: 14rem;
}

.cov2 {
    font-size: 16px;
    line-height: 20px;
}
.ceo {
    background-color: #B2B1B9;
}
.ceo:hover {
    border: 2px solid #595260;
    transition: all 200ms ease-in-out;
}
.link {
    list-style: disc;
    color: #0274A5;
}
.link li:hover {
    color:gray
}
@media only screen and (min-width: 900px) {
    .link {
        margin: 0 0 0 20rem;
    }
    .Come{
        margin: 0 0 0 12rem;
    }
    .some {
        display:  grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 1rem 0 0 97px;
    }
    .text {
        margin-right: 1rem;
    }
    .tx {
        margin-left: 1px;
        font-size: 15px;
    }
    .cov2 {
        margin: 7rem;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 1rem;
    }
    .ttx {
        margin-left: 6rem;
    }
    .somes {
        display:  grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .icons:hover {
        background-color: #0274A5;
    }
    .ico:hover {
       color: #0274A5;
    }
    .gr {
        display: grid;
        
    }
    .img {
        width: 16rem;
    }
    .head {
        margin-left: 0;
        padding-left: 9px;
       
    }
    .covid {
        height: 23rem;
    }
}